.universe {
  width: 100%;
  height: 100vh;
  justify-content: space-around;
  color: var(--box-font-clr);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  padding: 0 50px;
}

.universe-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.universe-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  align-items: center;
  width: 100%;
}
.universe-left,
.universe-right {
  z-index: 999;
}
.greeting,
.clock,
.weather {
  background-color: var(--box-color);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-bottom: var(--vertical-spacing);
  padding: 30px;
  line-height: 1.5;
  flex-direction: column;
  font-size: var(--font-size-md);
}
#icon {
  display: block;
  width: 40px;
}
.greeting-text,
.calendar,
.clock-box,
.weather-city,
.column-bottom {
  display: flex;
  align-items: center;
}
.weather-temp {
  margin-left: 15px;
}
.weather {
  margin-bottom: 0;
}
#username,
#date,
#city,
#main,
#temp,
#icon,
.hours,
.minutes,
.seconds,
.clock-colon {
  color: var(--neon-green);
  font-size: var(--font-size-lg);
}

.clock-colon {
  padding: 0 10px;
}
.element {
  display: block;
  color: var(--neon-red);
  padding-right: 10px;
}

.to-do,
.quote {
  height: 500px;
  position: relative;
  background-color: var(--box-color);
  display: flex;
  border-radius: 10px;
}

.to-do {
  /* margin-top: -20px; */
  flex-direction: column;
  overflow-y: auto;
}
#todo {
  padding: 100px 20px 0 20px;
}
#title {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 10px;
  justify-content: center;
}
.todo-list {
  padding: 20px 20px;
}
.todo-title {
  font-size: var(--font-size-lg);
}
.quote-title {
  color: var(--neon-green);
  font-size: var(--font-size-md);
}

.todo-list li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.input-box {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* border: 1px solid black; */
  background-color: var(--green);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  outline: 0;
  width: 16px;
}

input[type="checkbox"]::after {
  border: 1px solid var(--white);
  border-width: 0 2px 2px 0;
  content: "";
  display: none;
  height: 40%;
  left: 40%;
  position: relative;
  top: 20%;
  transform: rotate(45deg);
  width: 15%;
}

input[type="checkbox"]:checked {
  background: var(--red);
  border: none;
}

input[type="checkbox"]:checked::after {
  display: block;
}

.checked {
  text-decoration: line-through;
  color: var(--dark-clr);
}

.delete {
  color: var(--box-font-clr);
  position: absolute;
  right: 20px;
}

#todo-input {
  color: var(--box-font-clr);
  font-size: var(--font-size-sm);
}
#todo-input::placeholder {
  color: var(--neon-blue);
  font-size: var(--font-size-sm);
}

.to-do {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.to-do::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.colon,
.code {
  color: var(--neon-blue);
}
.code {
  padding: 0 10px;
}

.equal {
  margin-right: 10px;
}
.class {
  color: var(--neon-purple);
  padding-right: 10px;
}
