.universe {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1.5rem;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.box {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 1.5rem;
  margin-top: 12px;
}

.greeting {
  background-color: var(--box-color);
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 1.5;
  padding: 20px;
  font-size: var(--font-size-md);
}
