.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--box-color);
  border-radius: 30px;
  padding: 50px;
  animation: hue 1s infinite alternate;
}

.mode {
  color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: var(--font-size-lg);
}

.welcome {
  padding-top: 20px;
  font-size: var(--font-size-md);
  line-height: 1.5;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: var(--font-size-lg);
  text-align: center;
  margin-top: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.5s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-lg);
}

#login-form input:focus {
  border-color: black;
}
