.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--box-color);
  border-radius: 30px;
  padding: 70px 30px;
  color: var(--box-font-clr);
  z-index: 80;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  font-size: var(--font-size-md);
  line-height: 1.5;
  margin-bottom: 30px;
}
.welcome-column {
  display: flex;
  flex-direction: row;
}

#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: var(--font-size-lg);
  text-align: center;
  margin-top: 20px;
  color: var(--neon-green);
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  transition: border-color 0.5s ease-in-out;
}

#login-form input::placeholder {
  color: rgba(199, 146, 234, 0.3);
  font-size: var(--font-size-lg);
}

#login-form input:focus {
  border-color: var(--neon-green);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 40px 20px;
  }
  .welcome {
    padding-top: 20px;
    font-size: var(--font-size-sm);
    line-height: 1.5;
  }

  #login-form input {
    font-size: var(--font-size-md);
  }
  #login-form input::placeholder {
    padding: 10px 0px;
    font-size: var(--font-size-md);
  }
}

@media screen and (max-width: 767px) {
  .container {
    margin: 0 9px;
    padding: 30px 0;
  }

  .welcome {
    padding-top: 20px;
    font-size: var(--font-size-xsm);
    line-height: 1.5;
  }

  #login-form input {
    font-size: var(--font-size-sm);
    margin-top: 0;
  }
  #login-form input::placeholder {
    color: rgba(199, 146, 234, 0.3);
    font-size: var(--font-size-sm);
  }
}
