#mac-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6rem;
  height: 1.3rem;
  position: absolute;
  top: 15px;
  left: 15px;
}

.close,
.minimize,
.maximize {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.close {
  background-color: var(--red);
}

.minimize {
  background-color: var(--yellow);
}

.maximize {
  background-color: var(--green);
}

@media screen and (max-width: 767px) {
  #mac-btn {
    width: 4.3rem;
  }
  .close,
  .minimize,
  .maximize {
    width: 10px;
    height: 10px;
  }
}
