#logout {
  display: flex;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--box-color);
  border-radius: 8px;
}

button {
  z-index: 9998;
  color: var(--box-font-clr);
}

#popup-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

#popup-wrap.hide {
  display: none;
}

#popup-wrap.has-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup {
  padding: 20px;
  background-color: var(--box-font-clr);
  border-radius: 20px;
  width: 25%;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 30px;
  color: var(--box-color);
}

.popup-btn {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.popup-btn button {
  border-radius: 10px;
  padding: 5px 20px;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  background-color: var(--popup);
}

@media screen and (max-width: 767px) {
}
